@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-generator {
    height: 45vh;
    position: relative;
    background: url("assets/bg.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-generator::before {
    position: absolute;
    content: "";
    opacity: 0.5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #121212;
}

.image-generator .content {
    color: #fff;
    position: relative;
    text-align: center;
    max-width: 760px;
    padding: 0 20px;
}

.image-generator h1 {
    font-weight: 700;
    font-size: 3rem;
}

.image-generator p {
    margin-top: 15px;
    font-size: 1.7rem;
}

.image-generator .generate-form {
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 45px 0 20px;
}

.generate-form .prompt-input {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    outline: none;
    background: none;
    border: none;
    padding: 0 10px;
}

.generate-form .controls {
    height: 100%;
    display: flex;
    gap: 15px;
}

.generate-form .image-quantity {
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
}

.generate-form .generate-btn {
    border: none;
    outline: none;
    background: #4141ca;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 40px;
}

.img-gallery {
    gap: 15px;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    max-width: 1250px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.img-gallery .img-card {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 285px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.img-gallery .img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-gallery .img-card.loading img {
    height: 80px;
    width: 80px;
}

.img-gallery .img-card .download-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: none;
}

.img-gallery .img-card:not(.loading):hover .download-btn {
    display: flex;
}

.img-gallery .img-card .download-btn img {
    height: 15px;
    width: 15px;
}

@media screen and (max-width: 760px) {
    .image-generator h1 {
        font-size: 1.8rem;
    }

    .image-generator p {
        font-size: 1rem;
    }

    .image-generator .generate-form {
        display: block;
        height: 52px;
        margin-top: 30px;
    }

    .generate-form .controls {
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
        height: 40px;
    }

    .generate-form .image-quantity {
        color: #fff;
    }

    .generate-form .image-quantity option {
        color: #000;
    }

    .generate-form .generate-btn {
        height: 100%;
    }

    .img-gallery {
        margin-top: 20px;
    }

    .img-gallery .img-card:not(.loading) .download-btn {
        display: flex;
    }
}

@media screen and (max-width: 640px) {
    .img-gallery .img-card {
        width: 100%;
    }
}